{% extends 'base/base.html' %}

{% block title %}
    Book List
{% endblock %}

{% block content %}

    <div class="flex flex-col p-5 bg-gray-100 gap-4">
        <div class="flex flex-col md:flex-row space-between justify-between md:items-center gap-4">
            <div>
                <h1 class="text-xl mb-2">Books</h1>
                <p>A list of all the books including their title, author, pages and language.</p>
            </div>
            <button class="w-fit h-fit bg-indigo-800 hover:bg-indigo-500 text-white font-bold py-2 px-4 rounded"> <a href="{% url 'book_create' %}">Add Book</a></button>
        </div>
{#        <table class="table-fixed">#}
        <div class="overflow-x-auto overflow-y-hidden rounded-lg shadow">
        <table class="w-full">
          <thead class="bg-gray-50 border-b-2 border-gray-200">
            <tr>
              <th class="min-w-48 p-3 text-sm font-semibold tracking-wide text-left">Title</th>
              <th class="min-w-48 p-3 text-sm font-semibold tracking-wide text-left">Author</th>
              <th class="min-w-48 p-3 text-sm font-semibold tracking-wide text-left">Publisher</th>
              <th class="min-w-48 p-3 text-sm font-semibold tracking-wide text-left">Description</th>
              <th class="p-3 text-sm font-semibold tracking-wide text-left">Pages</th>
              <th class="p-3 text-sm font-semibold tracking-wide text-left">Language</th>
              <th class="min-w-48 p-3 text-sm font-semibold tracking-wide text-left">Added Date</th>
              <th class="min-w-48 p-3 text-sm font-semibold tracking-wide text-left">Updated Date</th>
              <th class="min-w-64 p-3 text-sm font-semibold tracking-wide text-left">Actions</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-100">
          {% for book in books %}
            <tr class="{% if forloop.counter|divisibleby:2 %}bg-gray-300{% else %}bg-gray-50{% endif %}">
              <td class="p-3 text-sm text-gray-700">{{ book.title }}</td>
              <td class="p-3 text-sm text-gray-700">{{ book.author }}</td>
              <td class="p-3 text-sm text-gray-700">{{ book.publisher }}</td>
              <td class="p-3 text-sm text-gray-700 truncate max-w-[150px] overflow-hidden whitespace-nowrap">{{ book.description }}</td>
              <td class="p-3 text-sm text-gray-700">{{ book.pages }}</td>
              <td class="p-3 text-sm text-gray-700">{{ book.language }}</td>
              <td class="p-3 text-sm text-gray-700">{{ book.created_at }}</td>
              <td class="p-3 text-sm text-gray-700">{{ book.updated_at }}</td>
              <td class="p-3 text-sm text-gray-700">
{#                  <a href="{% url 'book_delete' book.uuid  %}">Delete</a>#}
{#                  <a href="{% url 'book_update'  book.uuid%}">Edit</a>#}
                    <button class="bg-indigo-600 hover:bg-indigo-800 text-white font-bold py-2 px-4 rounded"><a href="{% url 'book_detail_view' book.uuid  %}">View</a></button>
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"><a href="{% url 'book_delete' book.uuid  %}">Delete</a></button>
                    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"><a href="{% url 'book_update'  book.uuid%}">Edit</a></button>
              </td>
            </tr>
              {% empty %}
              No Rows Found
              {% endfor %}
          </tbody>
        </table>
</div>
    {{ paginated_books }}<br/>
    Has Previous: {{ paginated_books.has_previous }}<br/>
    Has Next: {{ paginated_books.has_next }}<br/>
    Current Page: {{ paginated_books.number }}<br/>
    Number of pages: {{ paginated_books.paginator.num_pages }}<br/>

    {% if paginated_books.has_previous %}
        <a href="?page=1"><< First Page</a>
        <a href="?page={{ paginated_books.previous_page_number }}" >Previous</a>
    {% endif %}
    Page {{ paginated_books.number }} of {{ paginated_books.paginator.num_pages }}
    {% if paginated_books.has_next %}
        <a href="?page={{ paginated_books.next_page_number }}">Next</a>
        <a href="?page={{ paginated_books.paginator.num_pages }}">Last Page >></a>
    {% endif %}

        <div class="w-full flex flex-wrap flex-column justify-between items-center ">
            <p class="md:whitespace-nowrap">Showing 1 to 10 of 100 entries people


            <div class="flex flex-column gap-4 md:gap-20">
                <div class="flex flex-row items-center gap-2 w-fit">
                    <p>Show: </p>
                    <form class="max-w-sm mx-auto">
                     <select id="rowsPerPage" class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-fit p-2.5">
                        <option selected value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                      </select>
                    </form>
                </div>
                <div class="flex flex-column">
                    <div class="flex p-1 border border-gray-300 items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                        </svg>
                    </div>
                    <div class="flex py-1 px-3 border border-gray-300 items-center">
                        1
                    </div>
                    <div class="flex p-1  border border-gray-300 items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}